<div class="container">
  <div class="row">
    <div class="col s2"></div>
        <h1>Es necesario comentar para transferir</h1>

        <%= render 'form', comentario: @comentario %>

        <%= link_to 'Volver', Pqr.find(params[:idPqr]) %>
    <div class="col s6">
    </div>
    <div class="col s3"></div>
  </div>
</div>
