<nav>
    <div class="nav-wrapper">
      <%= link_to "Presentar PQR", new_pqr_path, class:"brand-logo center" %>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li>
              <% if usuario_actual %>
                  <h5><%= link_to "Cerrar sesión", "/cerrarSesion" %></h5>
              <% end %>
          </li>
      </ul>
    </div>
</nav>

<%= render 'form', pqr: @pqr %>

<div class="fixed-action-btn">
    <%= link_to '<i class="large material-icons">arrow_back</i>'.html_safe, pqrs_path, class:"btn-floating btn-large red" %>
</div>
